:root {
    --primary: #00bd8b;
    --primaryShade: #057b5c;
    --navSelected: #4bb79a;
    --pink: #f11ea8;
}

@font-face {
    font-family: Barbie;
    src: url("./fonts/Bartex.ttf");
}

@font-face {
    font-family: Mario;
    src: url("./fonts/MARIOMAKER.otf");
}

#navHeader {
    font-family: Barbie;
    color: black;
    letter-spacing: 3px;
    text-shadow: 0.05em 0.06em 0px var(--pink);
}

.menu>li {
    font-family: Mario;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */
#hamburgerIcon:hover {
    transform: rotate(-10deg);
}

.navbar a:hover {
    background-color: oklch(var(--su));
    transform: rotate(-1deg);
}

#topNav a:hover {
    background-color: oklch(var(--su));
    transform: rotate(-10deg);
}

#topNav a:hover::before, #navbarPfpContainer:hover::before, .navSelected::before, #navHeader:hover::before, #hamburgerIcon:hover::before {
    content: '';
    position: absolute;
    bottom: 20%;
    left: 0%;
    right: 0;
    width: 100%;
    height: 75%;
    background-image: url("./images/HoverEffect.png");
    background-position: center;
    background-size: 100% 90%;
    background-repeat: no-repeat;
    transform: rotate(15deg);
    opacity: 0;
    transition: opacity 0.3s;
}

#navHeader:hover::before {
    transform: rotate(5deg);
}

#topNav a:hover:hover::before, #navbarPfpContainer:hover:hover::before, .navSelected::before, #hamburgerIcon:hover:hover::before {
    opacity: 1.0;
    mix-blend-mode: overlay;
}

#navHeader:hover:hover::before {
    opacity: 0.7;
    mix-blend-mode: overlay;
}

.navLinks {
    font-weight: bold;
}

header .drawer-side {
    z-index: 2;
}

/* Other */

main {
    z-index: 0;
    min-height: 83.5vh;
    width: 100%;
    padding: 0.5%;
}

.iframe-container {
    width: 100%;
    height: 90vh;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0.5%;
    /* Remove default iframe border */
}

#navbarPfp {
    width: 80%;
}

#navbarPfp:hover {
    border-radius: 25%;
}

#navbarPfpContainer:hover {
    transform: rotate(-20deg);
}

#navbarPfpContainer {
    transition: transform 0.3s;
}

.toastParent {
    z-index: 10000;
}

.alert-outline {
    border: 2px solid black;
    box-shadow: -0.2em 0.2em 0.1em rgba(0, 0, 0, 0.5);
}

#globalToastContainer>* {
    z-index: inherit;
}

#globalToastContainer>div {
    opacity: 1;
    transform: translateY(100px);
    animation: slide-up 1s ease-out forwards;
    margin-bottom: 1vh;
}

@keyframes slide-up {
    to {
        transform: translateY(0);
    }
}

/* For Blocked off Areas */
#loggedInArea {
    position: relative;
    min-width: 25vw;
    min-height: 25vh;
}

#loggedInArea:not(.blockedArea)>#loggedInContainer {
    display: none;
}

#loggedInContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    color: oklch(var(--er));
    background-color: oklch(var(--sc));
    z-index: 100;
}

#loggedInArea.blockedArea>#loggedInContainer>#notLoggedInText {
    font-weight: bold;
}

#loggedInArea.blockedArea {
    display: block;
}