<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='./styles.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='./query.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='./index.css'>
    <script>
        let loggedIn = <%= auth.loggedIn %>;
    </script>
    <script src='main.js' type="module"></script>
</head>

<body>
    <div class="toast toast-end toastParent">
        <div id="globalToastContainer">
        </div>
    </div>
    <header id="header">
        <%- include("../partials/header"); %>
    </header>

    <main class="flex flex-1">
        <div class="hero">
            <div class="hero-content flex-col lg:flex-row-reverse flex flex-1">
                <img src="https://matrix.redditspace.com/_matrix/media/v3/download/reddit.com/n58bew44urfe1"
                    class="max-w-sm rounded-lg shadow-2xl" width="15%" />
                <div>
                    <h1 class="text-5xl font-bold">Kagurabachi Investing</h1>
                    <p class="py-6">The single-use site connecting <i>Kagurabachi</i> fans.</p>
                    <a href="./investing"><button class="btn btn-secondary">Get Started</button></a>
                </div>
            </div>
        </div>
    </main>

    <%- include("../partials/footer") %>
</body>

</html>